body
{
    background-image: linear-gradient(to right, rgb(255, 161, 127), rgb(0, 34, 62));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat:repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    overflow: auto;
}
.navbar
{
  background-image: linear-gradient(to right, rgb(255, 161, 127), rgb(0, 34, 62));
}
nav .navbar-nav li a{
  color: black !important;
  }
.navbar-brand{
    color: black !important;
    }
 
.card{
  margin: 10px;
  width: 285px;
  height: 508px;
  border-radius: 0px / 0px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
.card-title
{
  color: black;
  overflow-y:auto;
  height:40px;
 
}
.data{
  margin-left: 40px;
}
.rating
{
  margin-left: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  
  
}
.trending
{
  width: 20px;
  height: 20px;

}
.like
{
  margin-left: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
}
.poster
{
  
  max-height: 500px;
  max-width: 450px;
}
.card-img-top
{
  height: 330px;
  width: 250px;
}
.rc-pagination-prev,.rc-pagination-next
{
  background-color: white;
}

.form-control
{
  border: 0 !important;
  outline:none !important;
}
.form-control:focus{
  border-color: #cccccc !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.pagination
{
  margin: 10px auto;
  width: 320px;
}



.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.cardDetails {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }
  @media only screen and (max-width: 600px) {
    .card {
      margin: 0 auto; 
      float: none; 
      margin-bottom: 10px; 
    }
  }
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
